* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #d4f1f4; */
}

.header {
  margin-top: 1.5rem;
  height: 15rem;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #05445e;
}

.brand-title {
  font-family: 'Roboto-Regular';
  font-size: 1.5rem;
  margin: .5rem;
  margin-left: 2rem;
}

.brand-title a {
  text-decoration: none;
  color: #05445e;
}

.brand-title a:hover {
  text-decoration: underline;
  color: #05445e;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 2rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  font-family: 'RobotoCondensed-Regular';
  text-decoration: none;
  color: #05445e;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  text-decoration: underline;
  color: #05445e;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #05445e;
  border-radius: 10px;
}

@media (max-width: 720px){
  .toggle-button {
    display: flex;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
  
  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.content {
  /* background-color: bisque; */
  padding-bottom: 100px;
}

.avatar {
  height: 12rem;
  /* background-color: aquamarine; */
}

.avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content h1 {
  font-size: 36;
  color: #05445e;
  font-family: 'Roboto-Regular';
  letter-spacing: 2;
  text-align: center;

}

.content h3 {
  text-align: center;
  font-family: 'RobotoCondensed-Regular';  
}

.links {
  text-align: center;
}
.links a{
  text-decoration: none;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
}

.links a:hover{
  color: #189ab4;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* background-color: #d4f1f4; */
}

.footer a {
  text-decoration: none;
  color: #05445e;
}